    /*
    Flaticon icon font: Flaticon
    Creation date: 11/05/2020 15:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-satisfaction:before { content: "\f100"; }
.flaticon-cleaning-spray:before { content: "\f101"; }
.flaticon-cleaning:before { content: "\f102"; }
.flaticon-support:before { content: "\f103"; }
.flaticon-call:before { content: "\f104"; }
.flaticon-telephone:before { content: "\f105"; }
.flaticon-checked:before { content: "\f106"; }
.flaticon-couch:before { content: "\f107"; }
.flaticon-windows:before { content: "\f108"; }
.flaticon-mop:before { content: "\f109"; }
.flaticon-house:before { content: "\f10a"; }
.flaticon-factory:before { content: "\f10b"; }
.flaticon-hospital:before { content: "\f10c"; }
.flaticon-toilet:before { content: "\f10d"; }
.flaticon-checked-1:before { content: "\f10e"; }
.flaticon-tick:before { content: "\f10f"; }
.flaticon-household:before { content: "\f110"; }
.flaticon-broom:before { content: "\f111"; }
.flaticon-premium-quality:before { content: "\f112"; }
.flaticon-hand-wash-1:before { content: "\f113"; }
.flaticon-work:before { content: "\f114"; }
.flaticon-hotel:before { content: "\f115"; }
.flaticon-left-quotes-sign:before { content: "\f116"; }
.flaticon-right-quotes-symbol:before { content: "\f117"; }
    
    $font-Flaticon-satisfaction: "\f100";
    $font-Flaticon-cleaning-spray: "\f101";
    $font-Flaticon-cleaning: "\f102";
    $font-Flaticon-support: "\f103";
    $font-Flaticon-call: "\f104";
    $font-Flaticon-telephone: "\f105";
    $font-Flaticon-checked: "\f106";
    $font-Flaticon-couch: "\f107";
    $font-Flaticon-windows: "\f108";
    $font-Flaticon-mop: "\f109";
    $font-Flaticon-house: "\f10a";
    $font-Flaticon-factory: "\f10b";
    $font-Flaticon-hospital: "\f10c";
    $font-Flaticon-toilet: "\f10d";
    $font-Flaticon-checked-1: "\f10e";
    $font-Flaticon-tick: "\f10f";
    $font-Flaticon-household: "\f110";
    $font-Flaticon-broom: "\f111";
    $font-Flaticon-premium-quality: "\f112";
    $font-Flaticon-hand-wash-1: "\f113";
    $font-Flaticon-work: "\f114";
    $font-Flaticon-hotel: "\f115";
    $font-Flaticon-left-quotes-sign: "\f116";
    $font-Flaticon-right-quotes-symbol: "\f117";